{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                {% if object.photo %}
                <img src="{{ object.photo.url }}" class="card-img-top img-fluid"
                     style="max-width: 100%; height: 200px;" alt="{{ object.name }}">
                {% else %}
                <img src="{% static 'images/no_image_available.jpg' %}" class="card-img-top img-fluid"
                     alt="Нет изображения">
                {% endif %}
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
                    <p>Описание: {{ object.description|truncatechars:100 }}</p>
                    <a href="{% url 'catalog:product_detail' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary">
                        Купить
                    </a>

                    <a href="{% url 'catalog:product_list' %}"
                       class="btn btn-lg btn-block btn-outline-primary">
                        Назад
                    </a>

                    <a href="{% url 'catalog:product_update' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-warning">
                        Редактировать
                    </a>

                    <a href="{% url 'catalog:product_delete' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-danger mt-2">
                        Удалить
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}